
<div id="push"></div>
</div>
<div id="footer">
    <div style="max-width:800px; display: block; margin-left:auto; margin-right:auto;">
    <div class="row" style="margin:0px;">
       <div class="col-sm-6 col-lg-4 col-12" >
                <div class="language-select">
          <h4>Jezik/Language:</h4>{% assign first_level = page.url | replace:"/de","" | remove_first:'/' | split:'/' | first %}
                <a id="langPop" data-original-title="" href="#" 
                   class="btn btn btn-default" data-toggle="popover" 
                   data-content="<a href='{{site.baseurl}}/{{first_level}}'>Slovenščina</a><br/><a href='{{site.baseurl}}/en/{{first_level}}'>English</a>">
                   <img src="{{site.baseurl}}/assets/pic/world.gif"></img>Deutch</a>
        </div>  </div>

        <div class="col-4 col-sm-6 visible-lg" style="">
            <img class="img-responsive" src="{{ site.baseurl }}/assets/pic/bg-footer.png" alt="">
        </div>
      <div class="col-12 col-sm-6 col-lg-4 hidden-sm" style="margin-top:20px;">
            <strong>METALMONT KD d.o.o.</strong><br/>
            Gubčeva ul. 33<br/>
            2251 Ptuj<br/>
            SLOWENIEN<br/>
        Tel./Fax.: +386 (0) 2 777 0040<br/>
            E-mail: <a href="mailto:info@metalmont.eu">info@metalmont.eu</a>
        </div>

    </div>
</div>
</div>
    {%include jsEnd.html %}
</body>
</html>
