<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Metalmont KD official web site.">
    <meta name="author" content="Tomaz Toplak">
    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/pic/favico.png" />

    <title>{% if page.title == 'Metalmont KD' %}Metalmon KD{% else %}{{ page.title }} - Metalmont{% endif %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--CSS Slider-->
    <link href="{{ site.baseurl }}/assets/css/slider.css" rel="stylesheet">

    <!-- Custom styles for this site -->
    <link href="{{ site.baseurl }}/assets/css/metalmont.css" rel="stylesheet">
    
    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:bold" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet" type="text/css">
  </head>

  <body>

    <div id="wrap">
    <!-- Fixed navbar -->
    {% include navbar_en.html %}
